<div>
    <h4>Hur mycket äpplen vill du musta?</h4>

    <p>Ange vikt i kg, minsta vikt 30kg</p>
</div>


<div>
    <h4>Hur vill du att vi förpackar din must?</h4>
    <p>Vid råmust, medtag egna kärl</p>
</div>

