


<div class="container-guide-results">
        <h2>Ditt resultat</h2>
        <p>Baserat på informationen du matat in så har vi gjort följande beräkning. 
           Observera att resultatet är ungefärligt. </p>
        <p>Du bör boka en tid i X tidsperiod</p>
        <p>Det kommer ta X tid</p>
        <p>Det kommer kosta X kronor</p>
        <button type="button" id="btn-close-guide"><a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Stäng</a></button>
</div>

