@* @{
    ViewData["Title"] = "Guide";
}
<h1>@ViewData["Title"]</h1> *@

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>

@* <form id="guideForm"> *@
    <p>Ange din växtzon</p>
    <div class="dropdown zone">
        <button class="dropbtn" id="zoneDropdown">Välj</button>
        <div class="dropdown-content" id="zoneDropdownContent">
            <a value="Zon1">Zon 1</a>
            <a value="Zon2">Zon 2</a>
            <a value="Zon3">Zon 3</a>
            <a value="Zon4">Zon 4</a>
            <a value="Zon5">Zon 5</a>
            <a value="Zon6">Zon 6</a>
            <a value="Zon7">Zon 7</a>
            <a value="Zon8">Zon 8</a>
        </div>
    </div>


    <p>Ange din äppelsort</p>
    <div class="dropdown apple">
        <button class="dropbtn" id="appleDropdown">Välj</button>
        <div class="dropdown-content" id="appleDropdownContent">
            <a value="Aroma">Aroma</a>
            <a value="Cox Orange">Cox Orange</a>
            <a value="Discovery">Discovery</a>
            <a value="Elise">Elise</a>
            <a value="Frida">Frida</a>
            <a value="Gravenstiener">Gravenstiener</a>
            <a value="Ingrid-Marie">Ingrid-Marie</a>
            <a value="Rubinola">Rubinola</a>
            <a value="Santana">Santana</a>
        </div>
    </div>

    <p>Hur vill du att din must ska förpackas?</p>
    <div class="radio-package">
        <label><input type="radio" id="bib" name="choice" value="bib">Bag-in-Bok</label>
        <br /> 
        <label><input type="radio" id="rawmust" name="choice" value="rawmust">Råmust</label>
    </div>
    <br />

    <div id="weight">
        <label for="weightField">Hur mycket äpplen vill du musta?</label>
        <br />
        <br />
        <input type="text" id="weightField" name="weight">
        <p>Ange vikt i kg, minsta vikt 30kg</p> 
        <br />
        <button type="submit" id="btnSubmitGuide">Beräkna</button>
   
    </div>
@* </form> *@



