@* @{
    ViewData["Title"] = "Guide";
}
<h1>@ViewData["Title"]</h1> *@

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>


<p>Ange din växtzon</p>
<div class="dropdown zone">
    <button class="dropbtn" id="zoneDropdown">Välj</button>
    <div class="dropdown-content" id="zoneDropdownContent">
        <a href="#">Zon 1</a>
        <a href="#">Zon 2</a>
        <a href="#">Zon 3</a>
        <a href="#">Zon 4</a>
        <a href="#">Zon 5</a>
        <a href="#">Zon 6</a>
        <a href="#">Zon 7</a>        
        <a href="#">Zon 8</a>
    </div>
</div>

<p>Ange din äppelsort</p>
<div class="dropdown apple">
    <button class="dropbtn" id="appleDropdown">Välj</button>
    <div class="dropdown-content" id="appleDropdownContent">
        <a href="#">Aroma</a>
        <a href="#">Cox Orange</a>
        <a href="#">Discovery</a>
        <a href="#">Elise</a>
        <a href="#">Frida</a>
        <a href="#">Gravenstiener</a>
        <a href="#">Ingrid-Marie</a>
        <a href="#">Rubinola</a>
        <a href="#">Santana</a>
    </div>
</div>

<p>Hur vill du att din must ska förpackas?</p>
<div class="radio-package">
    <label><input type="radio" name="choice" value="option1">Bag-in-Bok</label>
    <br/>
    <label><input type="radio" name="choice" value="option2">Råmust</label>
</div>
<br/>

<div id="weight">
    <label for="inputField">Hur mycket äpplen vill du musta?</label>
    <br />
    <br />
    <input type="text" id="inputField" name="inputField">
    <p>Ange vikt i kg, minsta vikt 30kg</p>
    <br />
    <button type="button" id="btn-get-guide-results">Skicka</button>
</div>

