@{
    ViewData["Title"] = "Home Page";
}

<div class=background>
     <img id="apples-img" src="/img/applesOnTree.jpg" alt="Bild på äpplen" /> 
     <div id="container-banner"> 
        <h4>Vi mustar dina äpplen</h4>
        <p>Vi pressar god äppelmust av dina egna medhavna äpplen. Must av 100% äpple, inga tillsatser!</p>
        <p>Minsta vikt för en pressning är ca 30 kg äpple, vilket är ca 5-6 välfyllda papperskassar. </p>
        <p>Du väljer själv om du vill ha pastoriserad must i Bag-in-box eller råmust som förpackas i kärl du själv tar med.</p>
    </div>

    <div class="background-box">
        <h4>Mustguiden</h4>
        <p>Med vår mustguide får du hjälp att hitta en tid som passar dina behov.
        </p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Guide" asp-action="GuideForm">Guide  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

   @*  TODO: Skapa bokningsflöde för kunder som inte vill använda guiden? alt TA BORT *@
@*     <div class="background-box">
        <h4>Tidsbokning</h4>
        <p>Här kan du boka tid till vårt musteri</p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Booking" asp-action="BookingForm">Boka mustning  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div> *@
</div>












