@{
    ViewData["Title"] = "Home Page";
}

<div class=background>
     <img id="apples-img" src="/img/applesOnTree.jpg" alt="Bild på äpplen" /> 
     <div id="container-banner"> 
        <h4>Vi mustar dina äpplen</h4>
        <p>Vi pressar god äppelmust av dina egna medhavna äpplen. Must av 100% äpple, inga tillsatser!</p>
    </div>

    <div class="background-box">
        <h4>Äppelguiden</h4>
        <p>Behöver du lite hjälp på vägen? Använd vår äppelguide och få mer information om hur mustningen går till.
           Ange vilken äppelsort du har, hur mycket äpplen du vill musta samt hur du vill att musten förpackas så hjälper vi dig att hitta en tid som passar.
        </p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Guide" asp-action="GuideForm">Guide  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

   @*  TODO: Skapa bokningsflöde för kunder som inte vill använda guiden? *@
@*     <div class="background-box">
        <h4>Tidsbokning</h4>
        <p>Här kan du boka tid till vårt musteri</p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Booking" asp-action="BookingForm">Boka mustning  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div> *@
</div>












