@{
    ViewData["Title"] = "Home Page";
}

<div class=background>
     <div id="container-banner">
        <img id="apples-banner" src="/img/applesOnTree.jpg" alt="Bild på äpplen" />
        <h3>Vi mustar dina äpplen</h3>
        <p>Vi pressar god äppelmust av dina egna medhavna äpplen. Must av 100% äpple, inga tillsatser!</p>
    </div>

    <div class="background-box">
        <p>Behöver du lite hjälp på vägen? Använd vår guide och få mer information om hur mustningen går till</p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Guide" asp-action="GuideForm">Guide  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>

    <div class="background-box">
        <p>Här kan du boka tid till vårt musteri på Karltomtavägen  i Bro</p>
        <div class="btn-container">
            <a class="btn" asp-area="" asp-controller="Booking" asp-action="BookingForm">Boka mustning  <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>












