:root {
    --primary-color: #3498db;
    --secondary-color: #313A27; /*mörkgrön*/
    --background-color: #8CA970; /*grön bakgrundsfärgen*/
    --text-color: #FFFFFF; /*vit textfärg*/
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    border-radius: 10px;
}*/

html {
  position: relative;
  min-height: 100%;
}

header{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; 
}


body {
    margin-bottom: 60px;
    background-color:lightgray; 
    
}

.screen { /*gör så att designen ser ut som en mobil på sidan*/
    width: 375px;
    height: 812px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color); 
}

#logo{
    height:50px; 
    width:auto; 
}

footer {
    background-color: white;
    padding: 5px;
    margin-top: auto;
    text-align: center;
}

.bi-instagram, .bi-facebook {
    height: 30px;
    width: auto;
    margin: 10px
}

/*STIL FÖR HEM*/
#container-banner {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
}

#apples-banner {
    max-width: 100%;
    max-height: 100%;
    padding-bottom:30px; 
}

.background-box {
    padding: 20px 20px 0px 20px;
    border-radius:10px; 
    margin-bottom: 20px;
    background-color: var(--background-color);
}

.btn-container{
    display:flex;
    justify-content:flex-end; 
}

.btn {
    background-color: white;
    color: black;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

/*STIL FÖR GUIDE*/

/*Skapar rutmönstret för äppleknapparna*/
.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

/*radioknapparna i formuläret*/
.custom-radio input[type="radio"] {
    position: absolute;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
}
.custom-radio label {
    cursor: pointer; 
    padding: 10px; 
    border: 1px solid #007bff;
}

.custom-radio label:hover {
    background-color: #007bff;
    color: white;
}

.custom-radio input[type="radio"]:checked + label {
    border-color: black;
    border-width: 3px; 
    background-color: lightgoldenrodyellow;
    color: black;
}

/* STIL FÖR GUIDERESULTS */

.frame {
    border: 2px solid black; 
}

/* STIL för LoadingScreen*/
#loadingScreen {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #8CA970;
}

@keyframes blink {
    50% {
        color: white;
    }
}

.fas.fa-apple-alt {
    font-size: 60px;
    color: #E00000;
    margin: 10px;
    animation: blink 1.5s step-start infinite;
}

    .fas.fa-apple-alt:nth-child(2) {
        animation-delay: 0.5s;
    }

    .fas.fa-apple-alt:nth-child(3) {
        animation-delay: 1s;
    }

/*STIL FÖR BOKA*/