:root {
    --primary-color: #3498db;
    --secondary-color: #313A27; /*mörkgrön*/
    --background-color: #8CA970; /*grön bakgrundsfärgen*/
    --text-color: #FFFFFF; /*vit textfärg*/
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    border-radius: 10px;
}*/

html {
  position: relative;
  min-height: 100%;
}

header{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important; 
}


body {
    margin-bottom: 60px;
    background-color:lightgray; 
    
}

.screen { /*gör så att designen ser ut som en mobil på sidan*/
    width: 375px;
    height: 812px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color); 
}

#logo{
    height:50px; 
    width:auto; 
}

footer {
    background-color: white;
    padding: 5px;
    margin-top: auto;
    text-align: center;
}

.bi-instagram, .bi-facebook {
    height: 30px;
    width: auto;
    margin: 10px
}

/*INDEX*/
.background h4{
    font-size:20px;
}

#apples-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #313A27;
}

#container-banner {
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--background-color);
}

#container-banner p {
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 5px;
}

.background-box {
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    position: relative;
}

.background-box p {
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-container{
    display:flex;
    justify-content:flex-end; 

}

.btn {
    background-color: white;
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px; 
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: cornflowerblue;
    color: white;
}


/*GUIDEFORM*/

/*Skapar rutmönstret för äppleknapparna*/
.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

/*radioknapparna i formuläret*/
.custom-radio input[type="radio"] {
    position: absolute;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
}
.custom-radio label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #313A27;
}

.custom-radio label:hover {
    background-color: cornflowerblue;
    color: white;
}

.custom-radio input[type="radio"]:checked + label {
    border: 2px solid black; 
    background-color: lightsteelblue;
    color: black;
}

/*Rubriker till radioknapparna*/
legend{
    font-size:18px;  
    font-weight:bold; 
}

#weight{
    width:300px; 
    height: 40px;
    border-radius:5px; 
}

#apple-weight {
    font-size: 17px;
    font-weight: bold;
    margin-bottom:3px; 
}

/*GUIDERESULTS*/
.frame {
    border: 2px solid black; 
}

.dynamic-div p {
    font-size:16px; 
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dynamic-div{
    padding-bottom:10px; 
}

#clause{
    font-style:italic; 
}

/*kryssknappen i övre högra hörnet*/
.btn-close {
    position: absolute; /* Positionera absolut inom .background-box */
    top: 10px; 
    right: 10px; 
    padding: 5px 10px; 
    background: none; 
    border: none; 
    font-size: 18px; 
    font-weight: bold;  
    cursor: pointer; 
    text-decoration: none; 
    color: black; 
}

    .btn-close:hover {
        color: black;
    }

/*LAODINGSCREEN*/
#loadingScreen {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #8CA970;
}

@keyframes blink {
    50% {
        color: white;
    }
}

.fas.fa-apple-alt {
    font-size: 60px;
    color: #E00000;
    margin: 10px;
    animation: blink 1.5s step-start infinite;
}

    .fas.fa-apple-alt:nth-child(2) {
        animation-delay: 0.5s;
    }

    .fas.fa-apple-alt:nth-child(3) {
        animation-delay: 1s;
    }

/*KALENDER*/
/*Tillgängliga tider knappen*/
.btn-link {
    width: 300px;
/*    background: white;*/
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #313A27;
}

.btn-link p {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .btn-link:hover, .btn-link:focus {
        border: 2px solid black;
        background-color: lightsteelblue;
        color: black;
    }

ul {
    list-style: none; 
    padding: 0;
    margin-bottom:20px; 
}

/*BOKNINGSBEKRÄFTELSE*/
.confirmation-div{
    height: 630px; 
    border-radius:5px; 
    padding:10px; 
    margin-bottom:20px; 
}
