@model BokaMust.Models.GuideViewModel

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>

<form id="guideForm" asp-action="Save" asp-controller="Guide" method="post">

    <div>
        <lable>Ange din växtzon</lable>
        <br />
        <select id="zoneDropdown" asp-for="SelectedZone">
            <option value="" selected disabled>Ange zon</option>
            <option value="Zon1">Zon 1</option>
            <option value="Zon2">Zon 2</option>
            <option value="Zon3">Zon 3</option>
            <option value="Zon4">Zon 4</option>
            <option value="Zon5">Zon 5</option>
            <option value="Zon6">Zon 6</option>
            <option value="Zon7">Zon 7</option>
            <option value="Zon8">Zon 8</option>
        </select>
    </div>

    <div>
        <label>Ange din äppelsort</label>
        <br/>
        <select id="appleDropdown" asp-for="SelectedApple">
            <option value="" selected disabled>Ange äppelsort</option>
            <option value="Aroma">Aroma</option>
            <option value="Cox Orange">Cox Orange</option>
            <option value="Discovery">Discovery</option>
            <option value="Elise">Elise</option>
            <option value="Frida">Frida</option>
            <option value="Gravenstiener">Gravenstiener</option>
            <option value="Ingrid-Marie">Ingrid-Marie</option>
            <option value="Rubinola">Rubinola</option>
            <option value="Santana">Santana</option>
        </select>
    </div>

    <div>
        <lable>Hur vill du att din must förpackas?</lable>
        <br />
        <label><input type="radio" id="bib" name="choice" value="bib" asp-formaction="SelectedPackaging">Bag-in-Box</label>
        <br />
        <label><input type="radio" id="rawmust" name="choice" value="rawmust" asp-formaction="SelectedPackaging">Råmust</label>
    </div>
    <br />

<div id="weight">
    <label>Hur mycket äpplen vill du musta?</label>
    <br />
    <input type="text" id="weightField" name="weight" asp-formaction="Weight">
    <p>Ange vikt i kg, minsta vikt 30kg</p> 
    <br />
    <button type="submit" id="btnSubmitGuide">Beräkna</button>
   
</div>
</form> 




