@model BokaMust.Models.ViewModels.GuideViewModel

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>

<form id="guideForm" asp-area="" asp-controller="Guide" asp-action="GuideResults" method="post">

    <div>
        <label>Ange din äppelsort</label>
        <br />
        <select id="appleDropdown" asp-for="SelectedApple.Name">
            <option value="" selected disabled>Välj</option>
            @foreach (var apple in AppleRepository.AllApples)
            {
                <option value="@apple.Name">@apple.Name</option>
            }
        </select>
    </div>

    <div>
        <label>Hur vill du att din must förpackas?</label>
        <br />
        @foreach (var package in PackagingRepository.AllPackages)
        {
            <div>
                <label>
                    <input type="radio" asp-for="SelectedPackage.Name" value="@package.Name" name="packagingOption"/>
                    @package.Name
                </label>
            </div>
        }
    </div>



<div id="weight">
    <label>Hur mycket äpplen vill du musta?</label>
    <br />
    <input type="text" id="inputWeight" asp-for="SelectedApple.WeightInput">
    <p>Ange vikt i kg, minsta vikt 30kg</p> 
    <br />
    <button type="submit" class="btn" id="btnSubmitGuide">Beräkna</button>
</div>
</form> 




