@model BokaMust.Models.GuideViewModel

<h4>Mustguiden</h4>
<p>Här får du en guide till äppelmustningen</p>

<form id="guideForm" asp-area="" asp-controller="Guide" asp-action="GuideResults" method="post">

    <div>
        <label>Ange din äppelsort</label>
        <br/>
        <select id="appleDropdown" asp-for="SelectedApple">
            <option value="" selected disabled>Välj</option>
            <option value="Aroma">Aroma</option>
            <option value="Cox Orange">Cox Orange</option>
            <option value="Discovery">Discovery</option>
            <option value="Elise">Elise</option>
            <option value="Frida">Frida</option>
            <option value="Gravenstiener">Gravenstiener</option>
            <option value="Ingrid-Marie">Ingrid-Marie</option>
            <option value="Rubinola">Rubinola</option>
            <option value="Santana">Santana</option>
        </select>
    </div>

    <div>
        <label>Hur vill du att din must förpackas?</label>
        <br />
        <select id="packagingDropdown" asp-for="SelectedPackaging">
            <option value="" selected disabled>Välj</option>
            <option value="Bag-in-Box">Bag-in-Box</option>
            <option value="Rawmust">Råmust</option>
        </select>
    </div>

<div id="weight">
    <label>Hur mycket äpplen vill du musta?</label>
    <br />
    <input type="text" id="inputWeight" name="weight" asp-formaction="Weight">
    <p>Ange vikt i kg, minsta vikt 30kg</p> 
    <br />
    <button type="submit" class="btn" id="btnSubmitGuide">Beräkna</button>
</div>
</form> 




