

<div id="loadingScreen" class="screen" style="display:none">
    <div id="loadingScreen" class="screen">
        <i class="fas fa-apple-alt"></i>
        <i class="fas fa-apple-alt"></i>
        <i class="fas fa-apple-alt"></i>
    </div>
</div>


