@model TimeSlot

<div class="background-box">
	<a href="/" class="btn-close" id="btn-close">X</a>
	<h3>Bokningsbekräftelse</h3>
	<div class="confirmation-div">
		<p>Datum: @Model.Date @Model.Month </p>
		<p>Tid: @Model.Time</p>
		<p>Varaktighet: @Model.Duration timmar</p>
	</div>
</div>