@model TimeSlot

<div class="background-box">
	<a href="/" class="btn-close" id="btn-close">X</a>
	<h3>Bokningsbekräftelse</h3>
	<div class="confirmation-div">
		<h4>Tid för mustning</h4>
		<p>Datum: @Model.Date @Model.Month </p>
		<p>Tid: @Model.Time</p>
		<p>Varaktighet: @Model.Duration timmar</p>
		<br />
		<h4>Inför mustningen</h4>
		<p>Packa dina äpplen </p>
		<br />
		<h4>Kontakt info</h4>
		<p>Du hittar Kvarnnibble Gård på Kvarntomtavägen 1 i Bro</p>
	</div>
</div>