@model BokaMust.Models.ViewModels.GuideViewModel

<body>
    <div class="background-box">
        <a href="/" class="btn-close" id="btn-close">X</a>
        <h4>Hitta tid för mustning</h4>
        <form id="bookingForm" asp-action="Calendar" method="post">

            <div id="weight">
                <label for="weight">Hur mycket äpplen vill du musta? (kg)</label>
                <br />
                <br />
                <input type="text" id="weight" name="Weight" required placeholder="Minsta vikt 30kg">
                <br />
                <br />
            </div>

            <fieldset>
                <legend>Hur vill du att din must förpackas?</legend>
                <br />
                <br />
                <div class="custom-radio">
                    <input type="radio" id="bagInBox" name="SelectedPackage" autocomplete="off" value="Bag-in-box" hidden>
                    <label for="bagInBox" class="btn btn-outline-primary">
                        Bag-in-box <i class="fas fa-box"></i>
                    </label>

                    <input type="radio" id="rawMust" name="SelectedPackage" autocomplete="off" value="Råmust" hidden>
                    <label for="rawMust" class="btn btn-outline-primary">
                        Råmust <i class="fas fa-bottle-water"></i>
                    </label>
                </div>
            </fieldset>

            <div>
                <button type="submit" class="btn" id="btnSubmitBooking">Hitta lediga tider</button>
            </div>
        </form>
    </div>
</body>



